# Dependencies
node_modules/
__pycache__/
venv/

# Next.js
.next/
out/
build/

# Environment
.env
.env.local

# Database (Optional - user said "keep if you want history", but usually ignored in production. I will ignore to keep repo clean)
*.db
*.sqlite3

# System
.DS_Store
Thumbs.db
